<a href="https://colab.research.google.com/github/nzungizelab/Genomic-Surveillance-Malaria-Vectors_Africa/blob/NzungizeL/Workshop_3_Population_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Module 1 - Plotting with Plotly Express**

In [ ]:
# this code is used as a temporary fix to avoid plotly rendering shows (i.e. avoid showing blank plots)
import plotly
import plotly.io
import plotly.io._utils
from plotly.offline import get_plotlyjs_version


def plotly_cdn_url_hacked(cdn_ver=get_plotlyjs_version()):
    """Return a valid plotly CDN url."""
    # Hack to use a CDN that works.
    # See also https://github.com/plotly/plotly.js/issues/6648
    return "https://cdnjs.cloudflare.com/ajax/libs/plotly.js/{cdn_ver}/plotly.min.js".format(
        cdn_ver=cdn_ver,
    )


setattr(plotly.io._utils, "plotly_cdn_url", plotly_cdn_url_hacked)

In [ ]:
import pandas as pd
import plotly.express as px

**Preparing data for plotting**

In [ ]:
df_medals_long = px.data.medals_long()
df_medals_long

        nation   medal  count
0  South Korea    gold     24
1        China    gold     10
2       Canada    gold      9
3  South Korea  silver     13
4        China  silver     15
5       Canada  silver     12
6  South Korea  bronze     11
7        China  bronze      8
8       Canada  bronze     12